﻿@model Project_Mvc.Models.UserLoginModel

<div class="col-sm-5 col-md-5 col-lg-5">
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="LoginName" name="LoginName" class="form-control" placeholder="Username">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="text" id="Password" name="Password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Log In</button>
}
</div>