﻿ @model Project_Mvc.Models.CustomerModel
<div class="col-sm-5 col-md-5 col-lg-5">
@using (Html.BeginForm())
{
    @Html.ValidationSummary();
   <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="LoginName" name="LoginName" class="form-control" placeholder="LoginName" value="@Model.LoginName">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="text" id="Password" name="Password" class="form-control" placeholder="Password">
    </div>  
     <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
      <input type="text" id="PasswordConfirm" name="PasswordConfirm" class="form-control" placeholder="PasswordConfirm">
    </div>    
     <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="FirstName" name="FirstName" class="form-control" placeholder="FirstName" value="@Model.FirstName">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="LastName" name="LastName" class="form-control" placeholder="LastName" value="@Model.LastName">
    </div>
     <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="Email" name="Email" class="form-control" placeholder="Email" value="@Model.Email">
    </div>
     <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="Phone Number" name="PhoneNumber" class="form-control" placeholder="PhoneNumber" value="@Model.PhoneNumber">
    </div>
     <div class="input-group">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
      <input type="text" id="Address" name="Address" class="form-control" placeholder="Address" value="@Model.Address">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
}
</div>