﻿@using Project_Mvc.DAL
@using Project_Mvc.Models

@model List<Customer>

@{
    List<Customer> activeUsers = Model.Where(w => w.Status == (int)UserStatus.Active && AppGlobal.LoggedUsers.Contains(new KeyValuePair<string, string>(w.LoginName, w.LoginName)) != null).ToList();
    List<Customer> suspendedUsers = Model.Where(w => w.Status == (int)UserStatus.Suspended).ToList();
}

<p>@activeUsers.Count() Logged Users, Click to Kick out:</p>
<div class="container">

    <ul>
        @foreach (Customer customer in activeUsers)
        {
            <li>@Html.ActionLink(customer.LoginName, "Index", new { loginname = customer.LoginName, activate = false })</li>
        }
    </ul>

</div>

<p>@suspendedUsers.Count() Suspended Users, Click to Kick out:</p>

<div class="container">

    <ul>
        @foreach (Customer customer in suspendedUsers)
        {
            <li>@Html.ActionLink(customer.LoginName, "Index", new { loginname = customer.LoginName, activate = true })</li>
        }
    </ul>

</div>
